In [1]:
import numpy as np
import pandas as pd
from pandas import DataFrame,Series
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns

In [2]:
from sklearn.model_selection import train_test_split
from sklearn import metrics
from sklearn.cluster import KMeans

In [3]:
dataset = pd.read_csv('data.csv')

In [4]:
dataset.head(10)

,State,Year,Type_code,Type,Gender,Age_group,Total
0,A & N Islands,2001,Causes,Illness (Aids/STD),Female,0-14,0
1,A & N Islands,2001,Causes,Bankruptcy or Sudden change in Economic,Female,0-14,0
2,A & N Islands,2001,Causes,Cancellation/Non-Settlement of Marriage,Female,0-14,0
3,A & N Islands,2001,Causes,Physical Abuse (Rape/Incest Etc.),Female,0-14,0
4,A & N Islands,2001,Causes,Dowry Dispute,Female,0-14,0
5,A & N Islands,2001,Causes,Family Problems,Female,0-14,0
6,A & N Islands,2001,Causes,Ideological Causes/Hero Worshipping,Female,0-14,0
7,A & N Islands,2001,Causes,Other Prolonged Illness,Female,0-14,0
8,A & N Islands,2001,Causes,Property Dispute,Female,0-14,0
9,A & N Islands,2001,Causes,Fall in Social Reputation,Female,0-14,0

In [5]:
dataset.describe()

                Year          Total
count  237519.000000  237519.000000
mean     2006.500448      55.034477
std         3.452240     792.749038
min      2001.000000       0.000000
25%      2004.000000       0.000000
50%      2007.000000       0.000000
75%      2010.000000       6.000000
max      2012.000000   63343.000000

In [6]:
dataset.nunique()

State          38
Year           12
Type_code       5
Type           69
Gender          2
Age_group       6
Total        2180
dtype: int64

In [7]:
dataset['Type_code'].unique()

array(['Causes', 'Education_Status', 'Means_adopted',
       'Professional_Profile', 'Social_Status'], dtype=object)

In [8]:
dataset['State'].unique()

array(['A & N Islands', 'Andhra Pradesh', 'Arunachal Pradesh', 'Assam',
       'Bihar', 'Chandigarh', 'Chhattisgarh', 'D & N Haveli',
       'Daman & Diu', 'Delhi (Ut)', 'Goa', 'Gujarat', 'Haryana',
       'Himachal Pradesh', 'Jammu & Kashmir', 'Jharkhand', 'Karnataka',
       'Kerala', 'Lakshadweep', 'Madhya Pradesh', 'Maharashtra',
       'Manipur', 'Meghalaya', 'Mizoram', 'Nagaland', 'Odisha',
       'Puducherry', 'Punjab', 'Rajasthan', 'Sikkim', 'Tamil Nadu',
       'Total (All India)', 'Total (States)', 'Total (Uts)', 'Tripura',
       'Uttar Pradesh', 'Uttarakhand', 'West Bengal'], dtype=object)

In [9]:
dataset['Total'].unique()

array([   0,    1,    8, ..., 3927, 1513, 5451])

In [10]:
dataset['Age_group'].unique()

array(['0-14', '15-29', '30-44', '45-59', '60+', '0-100+'], dtype=object)

In [ ]:
sns.pairplot(dataset)
plt.show()

In [ ]:
x = dataset.iloc[:,[1,6]].values

In [ ]:
kmeans = KMeans(n_clusters=5,random_state=42)
y_means = kmeans.fit_predict(x)

In [ ]:
labels = kmeans.labels_

In [ ]:
dataset['labels']=labels

In [ ]:
dataset.tail(10)

In [ ]:
sns.lmplot(x='Year', y='Total',data=dataset,hue='labels',palette='magma',fit_reg=False,scatter=True)
plt.show()

In [ ]:
x1 = dataset.iloc[:,[1,6]].values

In [ ]:
from sklearn.cluster import DBSCAN

In [ ]:
x1 = x1.astype(float)
from sklearn.preprocessing import StandardScaler
x1=StandardScaler().fit_transform(x1)

In [ ]:
cls = DBSCAN(eps=0.2,min_samples=10)
ybd =cls.fit_predict(x1)