# GroupBy and Aggregate functions

In [1]:
from pyspark.sql import SparkSession

In [2]:
spark = SparkSession.builder.appName('grpby-agg-demo').getOrCreate()

Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).

23/03/13 23:23:04 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable

In [3]:
dfs = spark.read.csv('test3.csv',header=True,inferSchema=True)
dfs.show()

+---------+------------+------+
|     Name| Departments|salary|
+---------+------------+------+
|    Krish|Data Science| 10000|
|    Krish|         IOT|  5000|
|   Mahesh|    Big Data|  4000|
|    Krish|    Big Data|  4000|
|   Mahesh|Data Science|  3000|
|Sudhanshu|Data Science| 20000|
|Sudhanshu|         IOT| 10000|
|Sudhanshu|    Big Data|  5000|
|    Sunny|Data Science| 10000|
|    Sunny|    Big Data|  2000|
+---------+------------+------+

### Grouped to find the maximum salary

In [7]:
dfs.groupBy('Departments').sum().show()

+------------+-----------+
| Departments|sum(salary)|
+------------+-----------+
|         IOT|      15000|
|    Big Data|      15000|
|Data Science|      43000|
+------------+-----------+

In [8]:
dfs.groupBy('Departments').avg().show()

+------------+-----------+
| Departments|avg(salary)|
+------------+-----------+
|         IOT|     7500.0|
|    Big Data|     3750.0|
|Data Science|    10750.0|
+------------+-----------+

### Groupby Departmernts counts

In [9]:
dfs.groupBy('Departments').count().show()

+------------+-----+
| Departments|count|
+------------+-----+
|         IOT|    2|
|    Big Data|    4|
|Data Science|    4|
+------------+-----+

### Groupby Departmernts maximum salary

In [13]:
dfs.groupBy('Departments').max().show()

+------------+-----------+
| Departments|max(salary)|
+------------+-----------+
|         IOT|      10000|
|    Big Data|       5000|
|Data Science|      20000|
+------------+-----------+

In [18]:
dfs.groupBy(['Departments','Name']).max().show()

+------------+---------+-----------+
| Departments|     Name|max(salary)|
+------------+---------+-----------+
|Data Science|   Mahesh|       3000|
|         IOT|Sudhanshu|      10000|
|    Big Data|Sudhanshu|       5000|
|Data Science|    Krish|      10000|
|Data Science|Sudhanshu|      20000|
|    Big Data|    Krish|       4000|
|         IOT|    Krish|       5000|
|    Big Data|    Sunny|       2000|
|Data Science|    Sunny|      10000|
|    Big Data|   Mahesh|       4000|
+------------+---------+-----------+

### Aggregation --> No GroupBy

In [15]:
dfs.agg({'Salary':'sum'}).show()

+-----------+
|sum(Salary)|
+-----------+
|      73000|
+-----------+

In [16]:
dfs.agg({'Salary':'avg'}).show()

+-----------+
|avg(Salary)|
+-----------+
|     7300.0|
+-----------+

In [17]:
dfs.agg({'Salary':'max'}).show()

+-----------+
|max(Salary)|
+-----------+
|      20000|
+-----------+