In [2]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline

In [3]:
#pre-processing libraries
from sklearn.preprocessing import LabelEncoder
#from sklearn.preprocessing import Imputer
from sklearn.model_selection import train_test_split

In [4]:
train = pd.read_csv('train.csv')
train.head(10)

,User_ID,Product_ID,Gender,Age,Occupation,City_Category,Stay_In_Current_City_Years,Marital_Status,Product_Category_1,Product_Category_2,Product_Category_3,Purchase
0,1000001,P00069042,F,0-17,10,A,2,0,3,NaN,NaN,8370
1,1000001,P00248942,F,0-17,10,A,2,0,1,6.0,14.0,15200
2,1000001,P00087842,F,0-17,10,A,2,0,12,NaN,NaN,1422
3,1000001,P00085442,F,0-17,10,A,2,0,12,14.0,NaN,1057
4,1000002,P00285442,M,55+,16,C,4+,0,8,NaN,NaN,7969
5,1000003,P00193542,M,26-35,15,A,3,0,1,2.0,NaN,15227
6,1000004,P00184942,M,46-50,7,B,2,1,1,8.0,17.0,19215
7,1000004,P00346142,M,46-50,7,B,2,1,1,15.0,NaN,15854
8,1000004,P0097242,M,46-50,7,B,2,1,1,16.0,NaN,15686
9,1000005,P00274942,M,26-35,20,A,1,1,8,NaN,NaN,7871

In [5]:
train.describe()

,User_ID,Occupation,Marital_Status,Product_Category_1,Product_Category_2,Product_Category_3,Purchase
count,5.500680e+05,550068.000000,550068.000000,550068.000000,376430.000000,166821.000000,550068.000000
mean,1.003029e+06,8.076707,0.409653,5.404270,9.842329,12.668243,9263.968713
std,1.727592e+03,6.522660,0.491770,3.936211,5.086590,4.125338,5023.065394
min,1.000001e+06,0.000000,0.000000,1.000000,2.000000,3.000000,12.000000
25%,1.001516e+06,2.000000,0.000000,1.000000,5.000000,9.000000,5823.000000
50%,1.003077e+06,7.000000,0.000000,5.000000,9.000000,14.000000,8047.000000
75%,1.004478e+06,14.000000,1.000000,8.000000,15.000000,16.000000,12054.000000
max,1.006040e+06,20.000000,1.000000,20.000000,18.000000,18.000000,23961.000000

In [6]:
test = pd.read_csv('test.csv')
test.head(10)

,User_ID,Product_ID,Gender,Age,Occupation,City_Category,Stay_In_Current_City_Years,Marital_Status,Product_Category_1,Product_Category_2,Product_Category_3
0,1000004,P00128942,M,46-50,7,B,2,1,1,11.0,NaN
1,1000009,P00113442,M,26-35,17,C,0,0,3,5.0,NaN
2,1000010,P00288442,F,36-45,1,B,4+,1,5,14.0,NaN
3,1000010,P00145342,F,36-45,1,B,4+,1,4,9.0,NaN
4,1000011,P00053842,F,26-35,1,C,1,0,4,5.0,12.0
5,1000013,P00350442,M,46-50,1,C,3,1,2,3.0,15.0
6,1000013,P00155442,M,46-50,1,C,3,1,1,11.0,15.0
7,1000013,P0094542,M,46-50,1,C,3,1,2,4.0,9.0
8,1000015,P00161842,M,26-35,7,A,1,0,10,13.0,16.0
9,1000022,P00067942,M,18-25,15,A,4+,0,5,14.0,NaN

In [7]:
test.describe()

,User_ID,Occupation,Marital_Status,Product_Category_1,Product_Category_2,Product_Category_3
count,2.335990e+05,233599.000000,233599.000000,233599.000000,161255.000000,71037.000000
mean,1.003029e+06,8.085407,0.410070,5.276542,9.849586,12.669454
std,1.726505e+03,6.521146,0.491847,3.736380,5.094943,4.125944
min,1.000001e+06,0.000000,0.000000,1.000000,2.000000,3.000000
25%,1.001527e+06,2.000000,0.000000,1.000000,5.000000,9.000000
50%,1.003070e+06,7.000000,0.000000,5.000000,9.000000,14.000000
75%,1.004477e+06,14.000000,1.000000,8.000000,15.000000,16.000000
max,1.006040e+06,20.000000,1.000000,18.000000,18.000000,18.000000

In [8]:
train.isnull().sum()

User_ID                            0
Product_ID                         0
Gender                             0
Age                                0
Occupation                         0
City_Category                      0
Stay_In_Current_City_Years         0
Marital_Status                     0
Product_Category_1                 0
Product_Category_2            173638
Product_Category_3            383247
Purchase                           0
dtype: int64

In [9]:
test.isnull().sum()

User_ID                            0
Product_ID                         0
Gender                             0
Age                                0
Occupation                         0
City_Category                      0
Stay_In_Current_City_Years         0
Marital_Status                     0
Product_Category_1                 0
Product_Category_2             72344
Product_Category_3            162562
dtype: int64

In [10]:
train.Age.unique()

array(['0-17', '55+', '26-35', '46-50', '51-55', '36-45', '18-25'],
      dtype=object)

In [11]:
train.Occupation.unique()

array([10, 16, 15,  7, 20,  9,  1, 12, 17,  0,  3,  4, 11,  8, 19,  2, 18,
        5, 14, 13,  6], dtype=int64)

In [12]:
train.Stay_In_Current_City_Years.unique()

array(['2', '4+', '3', '1', '0'], dtype=object)

In [13]:
test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 233599 entries, 0 to 233598
Data columns (total 11 columns):
User_ID                       233599 non-null int64
Product_ID                    233599 non-null object
Gender                        233599 non-null object
Age                           233599 non-null object
Occupation                    233599 non-null int64
City_Category                 233599 non-null object
Stay_In_Current_City_Years    233599 non-null object
Marital_Status                233599 non-null int64
Product_Category_1            233599 non-null int64
Product_Category_2            161255 non-null float64
Product_Category_3            71037 non-null float64
dtypes: float64(2), int64(4), object(5)
memory usage: 19.6+ MB

In [14]:
#Let us simply impute missing values using mode in category 2 and 3
train['Product_Category_2'] = train['Product_Category_2'].fillna(train.Product_Category_2.mode()[0])
train['Product_Category_3'] = train['Product_Category_3'].fillna(train.Product_Category_3.mode()[0])

test['Product_Category_2'] = test['Product_Category_2'].fillna(test.Product_Category_2.mode()[0])
test['Product_Category_3'] = test['Product_Category_3'].fillna(test.Product_Category_3.mode()[0])

test.Product_Category_3.head(10)

0    16.0
1    16.0
2    16.0
3    16.0
4    12.0
5    15.0
6    15.0
7     9.0
8    16.0
9    16.0
Name: Product_Category_3, dtype: float64

In [15]:
test["Product_Category_2"] = test.Product_Category_2.apply(lambda x: str(x)[:-2])
test["Product_Category_3"] = test.Product_Category_3.apply(lambda x: str(x)[:-2])

train["Product_Category_2"] = train.Product_Category_2.apply(lambda x: str(x)[:-2])
train["Product_Category_3"] = train.Product_Category_3.apply(lambda x: str(x)[:-2])

train.Product_Category_3.head()

0    16
1    14
2    16
3    16
4    16
Name: Product_Category_3, dtype: object

In [16]:
!pip install category_encoders

Requirement already satisfied: category_encoders in c:\users\r542u\appdata\local\conda\conda\envs\py36\lib\site-packages (2.2.2)
Requirement already satisfied: patsy>=0.5.1 in c:\users\r542u\appdata\local\conda\conda\envs\py36\lib\site-packages (from category_encoders) (0.5.1)
Requirement already satisfied: scipy>=1.0.0 in c:\users\r542u\appdata\local\conda\conda\envs\py36\lib\site-packages (from category_encoders) (1.2.1)
Requirement already satisfied: statsmodels>=0.9.0 in c:\users\r542u\appdata\local\conda\conda\envs\py36\lib\site-packages (from category_encoders) (0.9.0)
Requirement already satisfied: pandas>=0.21.1 in c:\users\r542u\appdata\local\conda\conda\envs\py36\lib\site-packages (from category_encoders) (0.24.2)
Requirement already satisfied: numpy>=1.14.0 in c:\users\r542u\appdata\local\conda\conda\envs\py36\lib\site-packages (from category_encoders) (1.16.4)
Requirement already satisfied: scikit-learn>=0.20.0 in c:\users\r542u\appdata\local\conda\conda\envs\py36\lib\site-packages (from category_encoders) (0.21.2)
Requirement already satisfied: six in c:\users\r542u\appdata\local\conda\conda\envs\py36\lib\site-packages (from patsy>=0.5.1->category_encoders) (1.12.0)
Requirement already satisfied: pytz>=2011k in c:\users\r542u\appdata\local\conda\conda\envs\py36\lib\site-packages (from pandas>=0.21.1->category_encoders) (2019.1)
Requirement already satisfied: python-dateutil>=2.5.0 in c:\users\r542u\appdata\local\conda\conda\envs\py36\lib\site-packages (from pandas>=0.21.1->category_encoders) (2.8.0)
Requirement already satisfied: joblib>=0.11 in c:\users\r542u\appdata\local\conda\conda\envs\py36\lib\site-packages (from scikit-learn>=0.20.0->category_encoders) (0.13.2)

In [17]:
from sklearn.preprocessing import LabelEncoder
from sklearn.preprocessing import LabelBinarizer
import category_encoders as ce

In [18]:
train['Stay_In_Current_City_Years'] = train['Stay_In_Current_City_Years'].map({'4+':'4'})

In [19]:
feat1 = ["Gender", "Age","Stay_In_Current_City_Years"]
encoder1 = LabelEncoder()
for f1 in feat1:
    train[f1] = encoder1.fit_transform(train[f1].astype('str'))

In [20]:
lb = LabelBinarizer()

In [21]:
train.columns

Index(['User_ID', 'Product_ID', 'Gender', 'Age', 'Occupation', 'City_Category',
       'Stay_In_Current_City_Years', 'Marital_Status', 'Product_Category_1',
       'Product_Category_2', 'Product_Category_3', 'Purchase'],
      dtype='object')

In [22]:
enc_feat = ['Product_Category_1','Product_Category_2', 'Product_Category_3', 'Occupation', 'City_Category',]

In [23]:
train_bin = train.copy()
encode_bin = ce.BinaryEncoder(cols=enc_feat)
train_bin = encode_bin.fit_transform(train_bin)

In [24]:
train_bin.columns

Index(['User_ID', 'Product_ID', 'Gender', 'Age', 'Occupation_0',
       'Occupation_1', 'Occupation_2', 'Occupation_3', 'Occupation_4',
       'Occupation_5', 'City_Category_0', 'City_Category_1', 'City_Category_2',
       'Stay_In_Current_City_Years', 'Marital_Status', 'Product_Category_1_0',
       'Product_Category_1_1', 'Product_Category_1_2', 'Product_Category_1_3',
       'Product_Category_1_4', 'Product_Category_1_5', 'Product_Category_2_0',
       'Product_Category_2_1', 'Product_Category_2_2', 'Product_Category_2_3',
       'Product_Category_2_4', 'Product_Category_2_5', 'Product_Category_3_0',
       'Product_Category_3_1', 'Product_Category_3_2', 'Product_Category_3_3',
       'Product_Category_3_4', 'Purchase'],
      dtype='object')

In [25]:
test_bin = test.copy()
encode_bin = ce.BinaryEncoder(cols=enc_feat)
test_bin = encode_bin.fit_transform(test_bin)
test_bin.columns

Index(['User_ID', 'Product_ID', 'Gender', 'Age', 'Occupation_0',
       'Occupation_1', 'Occupation_2', 'Occupation_3', 'Occupation_4',
       'Occupation_5', 'City_Category_0', 'City_Category_1', 'City_Category_2',
       'Stay_In_Current_City_Years', 'Marital_Status', 'Product_Category_1_0',
       'Product_Category_1_1', 'Product_Category_1_2', 'Product_Category_1_3',
       'Product_Category_1_4', 'Product_Category_1_5', 'Product_Category_2_0',
       'Product_Category_2_1', 'Product_Category_2_2', 'Product_Category_2_3',
       'Product_Category_2_4', 'Product_Category_2_5', 'Product_Category_3_0',
       'Product_Category_3_1', 'Product_Category_3_2', 'Product_Category_3_3',
       'Product_Category_3_4'],
      dtype='object')

In [26]:
train_grouped = train.copy()
train_grouped['Frequency_prod'] = 1
train_grouped['Product_Score'] = 0.0

train_grouped_prod = train_grouped.groupby(['Product_ID']).sum()

train_grouped_prod.head()

,User_ID,Gender,Age,Occupation,Stay_In_Current_City_Years,Marital_Status,Product_Category_1,Purchase,Frequency_prod,Product_Score
Product_ID,,,,,,,,,,
P00000142,1155549402,805,2600,9220,996,435,3456,12837476,1152,0.0
P00000242,377161644,285,863,2860,319,140,752,3967496,376,0.0
P00000342,244674888,175,614,1953,213,97,1220,1296475,244,0.0
P00000442,92284575,46,204,630,76,38,460,441173,92,0.0
P00000542,149492005,99,327,1088,123,46,745,807212,149,0.0

In [27]:
max_freq_prod = train_grouped_prod.Frequency_prod.max()
train_grouped_prod['Product_Score'] = train_grouped_prod['Frequency_prod'].apply(lambda x: float(x)/float(max_freq_prod))
train_grouped_prod = train_grouped_prod.reset_index()
train_grouped_prod['Product_Score'].head()

0    0.612766
1    0.200000
2    0.129787
3    0.048936
4    0.079255
Name: Product_Score, dtype: float64

In [28]:
train_grouped['Frequency_user'] = 1
train_grouped['User_Score'] = 0.0
train_grouped_user = train_grouped.groupby(['User_ID']).sum()
train_grouped_user.head()

,Gender,Age,Occupation,Stay_In_Current_City_Years,Marital_Status,Product_Category_1,Purchase,Frequency_prod,Product_Score,Frequency_user,User_Score
User_ID,,,,,,,,,,,
1000001,0,0,350,35,0,213,334093,35,0.0,35,0.0
1000002,77,462,1232,0,0,354,810472,77,0.0,77,0.0
1000003,29,58,435,29,0,93,341635,29,0.0,29,0.0
1000004,14,56,98,14,14,33,206468,14,0.0,14,0.0
1000005,106,212,2120,106,106,659,821001,106,0.0,106,0.0

In [29]:
max_freq_user = train_grouped_user.Frequency_user.max()
train_grouped_user['User_Score'] = train_grouped_user['Frequency_user'].apply(lambda x: float(x)/float(max_freq_user))
train_grouped_user = train_grouped_user.reset_index()
train_grouped_user['User_Score'].head()

0    0.034113
1    0.075049
2    0.028265
3    0.013645
4    0.103314
Name: User_Score, dtype: float64

In [30]:
test_grouped = test.copy()
test_grouped['Frequency_prod'] = 1
test_grouped['Product_Score'] = 0.0

test_grouped_prod = test_grouped.groupby(['Product_ID']).sum()


max_freq_prod = test_grouped_prod.Frequency_prod.max()
test_grouped_prod['Product_Score'] = test_grouped_prod['Frequency_prod'].apply(lambda x: float(x)/float(max_freq_prod))
test_grouped_prod = test_grouped_prod.reset_index()
test_grouped_prod['Product_Score'].head()

0    0.583836
1    0.205066
2    0.126659
3    0.041013
4    0.096502
Name: Product_Score, dtype: float64

In [31]:
test_grouped['Frequency_user'] = 1
test_grouped['User_Score'] = 0.0
test_grouped_user = test_grouped.groupby(['User_ID']).sum()

max_freq_user = test_grouped_user.Frequency_user.max()
test_grouped_user['User_Score'] = test_grouped_user['Frequency_user'].apply(lambda x: float(x)/float(max_freq_user))
test_grouped_user = test_grouped_user.reset_index()
test_grouped_user['User_Score'].head()

0    0.027149
1    0.067873
2    0.027149
3    0.002262
4    0.101810
Name: User_Score, dtype: float64

In [32]:
train_new = train.copy()

In [33]:
test_new = test.copy()

In [ ]:
for ix,row in train_new.iterrows():
    p_score = train_grouped_prod.loc[train_grouped_prod['Product_ID']==row['Product_ID'],'Product_Score'].values[0]
    train_new.at[ix,'Product_score']=p_score

In [ ]:
train_new['Product_score'].head()

In [ ]:
for ix,row in train_new.iterrows():
    u_score = train_grouped_user.loc[train_grouped_user['User_ID']==row['User_ID'],'User_Score'].values[0]
    train_new.at[ix,'User_score']=u_score

In [ ]:
for ix,row in test_new.iterrows():
    p_score = test_grouped_prod.loc[test_grouped_prod['Product_ID']==row['Product_ID'],'Product_Score'].values[0]
    test_new.at[ix,'Product_score']=p_score

In [ ]:
for ix,row in test_new.iterrows():
    u_score = test_grouped_user.loc[test_grouped_user['User_ID']==row['User_ID'],'User_Score'].values[0]
    test_new.at[ix,'User_score']=u_score

In [ ]:
df = train_new.copy()
labenc = LabelEncoder()
flist = ["Product_ID", "City_Category", "Product_Category_2", "Product_Category_3"]
for i in flist:
  df[i] = labenc.fit_transform(df[i])

df.info()

In [ ]:
corrmat = df.corr()

In [ ]:
corrmat.info()

In [ ]:
sns.set(rc={'figure.figsize':(15,9)})
sns.heatmap(corrmat,annot=True,cmap='cividis')
plt.show()

In [ ]:
train_bin.head()

In [ ]:
df_tr = train_bin.drop(['Gender', 'Age','Stay_In_Current_City_Years', 'Marital_Status','Purchase'],axis=1)
df_tr.columns

In [ ]:
df_ts = test_bin.drop(['Gender', 'Age','Stay_In_Current_City_Years', 'Marital_Status'],axis=1)
df_ts.columns

In [ ]:
train_new = pd.merge(train_new,df_tr,on=['User_ID', 'Product_ID'],how='outer')
train_new.columns

In [ ]:
test_new = pd.merge(test_new,df_ts,on=['User_ID', 'Product_ID'],how='outer')
test_new.columns

In [ ]:
from sklearn.model_selection import KFold
from sklearn.metrics import mean_squared_error

In [ ]:
def model_cv_score(model,data,target,randomstate):
    i=1;
    train_score = []
    test_score = []
    kf = KFold(n_splits=10,random_state=randomstate)
    for trian_ix,test_ix in kf.split(data):
        
        print("{} of Fold {}".format(i,kf.get_n_splits(data)))
        
        X_train, X_test = data.iloc[trian_ix], data.iloc[test_ix]
        y_train, y_test = target.iloc[trian_ix], target.iloc[test_ix]   
        '''
        X_train_scaled = scaler.fit_transform(X_train)
        X_test_scaled = scaler.transform(X_test)
        '''
        
        modelfit = model.fit(X_train,y_train)
        mse_train = mean_squared_error(y_true=y_train,y_pred=modelfit.predict(X_train))
        mse_test = mean_squared_error(y_true=y_test,y_pred=modelfit.predict(X_test))
        
        train_score.append(np.sqrt(mse_train))
        test_score.append(np.sqrt(mse_test))
        print("Train score: {}\nTest score: {}".format(np.sqrt(mse_train),np.sqrt(mse_test)))
        i += 1
    return train_score,test_score

In [ ]:
df = train_new.drop(['Purchase','User_ID','Product_ID','Product_Category_1',
       'Product_Category_2', 'Product_Category_3','Occupation', 'City_Category',],axis=1)
target = train_new['Purchase']
target.head()

In [ ]:
df.info()

# ***Boosting Alogorithms***


*   These are sequential and adaptive algorithms, which produces weak learners and each later learner learns from the errors/mistakes of the previous learner.
*   A predictor/tree is choosen from a wide variety like random forest ordecision trees.
*   Since predictors are learning from mistakes of previous one, the subsequent predictors require less time/iterations to reach to actual value
*   In adaboost algorithm, weights are assigned initially as 1/n. After calculating the residual, observation which has high residual or is hard to fit is assigned larger weight and others are assigned smaller weights.

In [ ]:


from sklearn.model_selection import RandomizedSearchCV,GridSearchCV

from sklearn.ensemble import AdaBoostRegressor

from sklearn.tree import DecisionTreeRegressor

In [ ]:
Dtree = DecisionTreeRegressor(max_depth=9,min_samples_leaf=2,min_samples_split=5)

In [1]:
params = {'base_estimator':[None,Dtree],
          'n_estimators':[50,100,200,300],
          'learning_rate':[0.001,0.1,0.5,1],
          'loss':['linear', 'square', 'exponential']}

NameError: name 'Dtree' is not defined

In [ ]:
Adaboost = AdaBoostRegressor(random_state=42,
Adaboost.fit(df,target)